<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<link rel="stylesheet" href="../main.css">
</head>

<header class="Topbar">
  <a href="index.html"> 
    <img class="StufLogo" src="../images/stuflogo.jpg" alt="StufLogo"> 
  </a>   
  <nav>
    <a href="overview.html">Vaskeliste</a>
    <a href="../hangman.html">Spill hangman</a>
    <a href="">Om oss</a>
    <a href="innlogging.html">Logg inn</a>
  </nav>
    <input type="checkbox" id="checkboxToggle">
    <label for="checkboxToggle" class="menyIkon"><img src="../images/meny_ikon.png"></label>
  <div class="sidebar">
    <input type="checkbox" id="checkboxToggle">
    <label for="checkboxToggle" class="exit">&#x2715</label>
    <a href="overview.html">Vaskeliste</a>
    <a href="../hangman.html">Spill hangman</a>
    <a href="">Om oss</a>
    <a href="innlogging.html">Logg inn</a>
  </div>
</header>
<body>
<div class="pageContent">
  
    <p> Her på Stuf skal vi spare strøm, vann og tid! Skriv når og hva du ønsker å vaske, 
    eller meld deg på noen andre sin klesvask. Jo færre maskiner som kjøres, jo bedre!<br><br>
    Klikk på vaskemaskinen for å gå videre: 
    </p>
    <a href="overview.html">
    <img class="machine" src="../images/waschma.jpg" alt="vaskemaskin">
    </a>
</div>


<div class="bottom index"> 
  <div>
    <a href="">Dues vei 9 <br><br> 4006 Stavanger</a>
    <a href="">Nettsidens url</a>
    <a href="mailto:post@stufskole.no">post@stufskole.no</a>
    <a href="tel:+4793086277">930 86 277</a>
  </div>
  <div>
    <p>Copyright &copy by Stuf Programmering</p>
    <p>Følg oss på instagram:</p>
    <a href="https://www.instagram.com/stufskole/" target="_blank">
    <img id="Instagram" src="../images/Instagram.jpg" alt="Instagram">
    </a>
  </div>
  </div>
</body>
</html>
