<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<link rel="stylesheet" href="../main.css">
</head>

  <header class="Topbar">
    <a href="index.html"> <img class="StufLogo" src="../images/stuflogo.jpg" alt="StufLogo"> </a>   
    <nav>
    <a href="overview.html">Vaskeliste</a>
    <a href="innlogging.html">Innlogging</a>
    <a href="about.html">About</a>
    </nav>
  </header>
<body>
  
    <p> Her på Stuf skal vi spare strøm, vann og tid! Skriv når og hva du ønsker å vaske, 
    eller meld deg på noen andre sin klesvask. Jo færre maskiner som kjøres, jo bedre!<br><br>
    Klikk på vaskemaskinen for å gå videre: 
    </p>
    <a href="overview.html">
    <img class="machine" src="../images/waschma.jpg" alt="vaskemaskin">
    </a>

  
  <div class="bottom"> 
      <a href="https://www.instagram.com/stufskole/" target="_blank">
      <img id="Instagram" src="../images/Instagram.jpg" alt"Instagram">
      </a>
      <p >Copyright &copy by Stuf Programmering-Group</p>
    </div>

</body>
</html>
