<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vaskeliste</title>
	<link rel="stylesheet" href="../main.css">
</head>
	<header class="Topbar">
		<a href="index.html"> 
			<img class="StufLogo" src="../images/stuflogo.jpg" alt="StufLogo"> 
		</a>   
		<nav>
			<a href="overview.html">Vaskeliste</a>
			<a href="">Spill hangman</a>
			<a href="">Om oss</a>
			<a href="innlogging.html">Logg inn</a>
		</nav>
			<input type="checkbox" id="checkboxToggle">
			<label for="checkboxToggle" class="menyIkon"><img src="../images/meny_ikon.png"></label>
		<div class="sidebar">
			<input type="checkbox" id="checkboxToggle">
			<label for="checkboxToggle" class="exit">&#x2715</label>
			<a href="overview.html">Vaskeliste</a>
			<a href="">Spill hangman</a>
			<a href="">Om oss</a>
			<a href="innlogging.html">Logg inn</a>
		</div>
	</header>
<body>
	<h1>Vask klær? - Skriv her! &#x2715 </h1><br>
	<img class="menyIkon" src="../images/meny_ikon.png">
	<div>
		
	</div>

	<div class="bottom"> 
		<a href="https://www.instagram.com/stufskole/" target="_blank">
		<img id="Instagram" src="../images/Instagram.jpg" alt="Instagram">
		</a>
		<adress>
			Copyright &copy by Stuf Programmering<br>
			<a href="">Nettsidens url</a><br>
			<a href="mailto:post@stufskole.no">post@stufskole.no</a><br>
			<a href="tel:+4793086277">930 86 277</a>
		</adress>
		
	</div>

</body>
</html>
